<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Create a new ad')"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>


<form th:action="@{/ads/create}" th:method="post">

    <label for="title">Title: </label>

    <input name="title" id="title" placeholder="Put the ad title here"  />

    <label for="description">Description: </label>

    <textarea name="description" id="description" cols="30" rows="10"></textarea>

    <button type="submit">Save Ad</button>
</form>


</body>
</html>